.banner-housing {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 415px;
  flex-shrink: 0;
}

.house-main {
  margin: 40px auto;
  width: 100%;
  position: relative;
}

.house-title {
  color: #ff6060;
  font-family: 'Montserrat';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  display: block;
}

.house-location {
  display: block;
  font-family: 'Montserrat';
  color: #ff6060;
  font-size: 18px;
  margin: 0;
}

.collapse-house {
  display: flex;
  flex-flow: row;
  margin-left: -15px;
  margin-top: 15px;
  justify-content: space-between;
}
.collapse-house-v {
  width: 50%;
  gap: 10px;
  background-color: yellow;
}

.host-place {
  position: absolute;
  right: 0;
}

@media (max-width: 640px) {
  .house-title {
    font-size: 18px;
    width: 355px;
    display: flex;
    top: 30px;
  }

  .house-location {
    font-size: 14px;
    position: absolute;
    top: 20px;
  }
  .collapse-house {
    display: flex;
    flex-flow: column;
    width: 100%;
    top: -22px;
    position: relative;
  }

  .house-main {
    margin-bottom: 10px;
  }
}

.wrap-tags-house {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
  margin-top: 18px;
  justify-content: flex-start;
}
