.house-tag {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 55px;
}

.house-tag .tag {
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat';
  padding: 5px 30px;
  border-radius: 10px;
  margin-right: 14px;
  display: inline-block;
}

.tag-list {
  position: relative;
}

@media (max-width: 640px) {
  .house-tag .tag {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .house-tag {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
}
