.house-tag {
  display: flex;
  flex-flow: row;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  gap: 10px;
}

.house-tag .tag {
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat';
  padding: 5px 30px;
  border-radius: 10px;
  margin-right: 14px;
  display: inline-block;
}

.tag-list {
  position: relative;
}

@media (max-width: 640px) {
  .house-tag .tag {
    font-size: 10px;
    /* margin: 5px 3px 5px 0; */
  }
  .tag-list {
    width: 366px;
    margin-left: 14px;
  }
}
