.article-block {
  background-color: black;
  height: 340px;
  border-radius: 10px;
  position: relative;
  display: grid;
  width: 30%;
  box-sizing: border-box;
}

.article-p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 126px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 10;
}
