.gray {
  color: #e3e3e3;
}

.rating-position {
  position: absolute;
  right: 0;
  top: 100px;
}

.rating-star {
  padding: 5px;
  font-size: 20px;
}

.red {
  color: #ff6060;
}

@media (max-width: 640px) {
  .rating-star {
    font-size: 18px;
  }

  .rating-position {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 10px;
  }
}
