.host-picture {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.host-wrapper {
  display: flex;
  flex-flow: row;
  position: absolute;
  right: 0;
  top: 10px;
}

.host-name {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  line-height: 1;
  height: 20px;
  width: 94px;
  padding-right: 10px;
}
