.host-picture {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.host-wrapper {
  display: flex;
  flex-flow: row;
  position: absolute;
  right: 0;
  top: 10px;
}

.host-name {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  line-height: 1;
  height: 20px;
  width: 94px;
  padding-right: 10px;
}

@media (max-width: 640px) {
  .host-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    position: relative;
    top: -22px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
  }
  .host-name {
    font-size: 12px;
    width: 63px;
    margin: 0;
    padding: 5px;
  }
}
