header {
  padding: 30px;
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.nav-header {
  margin-right: 5px;
  width: 30%;
  font-family: 'Montserrat';
  color: #ff6060;
  size: 24px;
}

ul {
  list-style-type: none;
  display: inline-block;
  right: 30px;
  position: absolute;
}

li {
  display: inline-block;
  padding: 10px;
  right: auto;
}

a {
  color: #ff6060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}

@media (max-width: 640px) {
  header {
    width: 100%;
  }

  .logo-header {
    width: 145px;
  }

  ul {
    right: 70px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
