.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: 415px;
  object-fit: cover;
  margin: 0 auto;
}

.slide {
  border-radius: 3rem;
  width: 1240px;
  height: 415px;
  object-fit: cover;
  background-position: center;
  margin: 0 auto;
  position: absolute;
}

.slide-hidden {
  display: none;
}

.btn-arrow-left,
.btn-arrow-right {
  position: absolute;
}
.arrow {
  position: absolute;
  color: white;
  z-index: 10;
}
.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.pagination {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 640px) {
  .carousel {
    width: 100%;
    height: 213px;
  }
  .slide {
    border-radius: 1rem;
    width: 90%;
    height: 255px;
  }
  .pagination {
    display: none;
  }
  .arrow {
    height: 24px;
    margin: 14px;
  }
}
