.error-class {
  color: #ff6060;
  text-align: center;
  font-family: 'Montserrat';
  margin-bottom: 100px;
}

h1 {
  font-size: 288px;
  line-height: 142.6%;
  margin: 0;
}

.error-class p {
  font-size: 36px;
  margin-bottom: 100px;
}

.error-link {
  margin-bottom: 100px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 96px;
  }

  .error-class p {
    font-size: 18px;
  }

  .error-link {
    font-size: 14px;
  }
}
