.banner-style {
  position: relative;
}

.img-banner {
  background-color: rgba(0, 0, 0, 0.3);
  height: 223px;
  width: 1240px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  object-fit: cover;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-style {
  color: white;
  font-family: "Montserrat";
  font-size: 48px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 640px) {
  .banner-style {
    width: 335px;
    height: 111px;
  }

  .banner-style p {
    font-size: 24px;
    width: 65%;
    padding: 30px;
  }
}
